{% extends 'main/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'account/css/main.css' %}">
{% endblock %}

{% block content %}

<div id="root">
    <div style="text-align: right; margin-right: 10%;">
        <h1>Fellow comic enthusiast!</h1>
        <p>First, answer some questions about your artwork idea</p>
    </div>
    <section>
        <form method="post" action="">
        {% csrf_token %}
		<div class="container">
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img src="{% static 'account/img/story.png' %}">
					</div>
					<div class="contentBx">
						<h3>What<br><span>Story of yours comic</span></h3>
					</div>
                    <textarea id="textarea" name="story"></textarea>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img src="{% static 'account/img/hero.png' %}">
					</div>
					<div class="contentBx">
						<h3>Who<br><span>Hero of your comic</span></h3>
					</div>
                    <select name="hero" id="">
                        <option value="Batman">Batman</option>
                        <option value="Superman">Superman</option>
                    </select>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img src="{% static 'account/img/style.png' %}">
					</div>
					<div class="contentBx">
						<h3>How<br><span>Artstyle of your work</span></h3>
					</div>
                    <select name="style" id="">
                        <option value="comic">Western comic</option>
                        <option value="manga">Eastern manga</option>
                    </select>
				</div>
			</div>
            <button id="first_submit" type="submit"><strong>Submit your answers</strong></button>
		</div>
        </form>
	</section>
</div>


{% endblock %}
